p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.md-grid {
  max-width: 1880px;;
}

.md-nav {
  /* font-size: .7rem; */
  font-size: .625rem;

  /* line-height: 1.3; */
  line-height: 1.25;
}

.admonition-title {
  line-height: 1.6;
}

.md-typeset {
  /* line-height: 1.6; */
  line-height: 1.3;
  
  /* font-size: .8rem; */
  font-size: .65rem;
}

code {
  /* font-size: .85em; */
  font-size: .7em !important;
}

h1, h2, h3, h4, h5, h6 {
  /* color: var(--md-typeset-a-color) !important; */
  font-weight: 800 !important;
}

h1 {
  font-size: 2.5em; 
  color: var(--md-typeset-a-color) !important;
  margin: 0;
  text-transform: uppercase;
}
h2 { 
  font-size: 1.9em;
  color: #fff;
}
h3 {
  font-size: 1.5em;
  color: #fff;
  background-color: var(--md-primary-fg-color--light);
  padding-left: 5px;
}
