p {
  margin-top: 0;
  margin-bottom: 0;
}

.md-grid {
  max-width: 1880px;;
}

.md-nav {
  /* font-size: .7rem; */
  font-size: .65rem;

  /* line-height: 1.3; */
  line-height: 1.275;
}

.admonition-title {
  line-height: 1.6;
}

.md-typeset {
  /* line-height: 1.6; */
  line-height: 1.0;
  
  /* font-size: .8rem; */
  font-size: .7rem;
}

code {
  /* font-size: .85em; */
  font-size: .8em !important;
}

h1, h2, h3, h4, h5, h6 {
  /* color: var(--md-typeset-a-color) !important; */
  font-weight: 800 !important;
}
